.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border: 2px solid black;
  width: 61.2vmin;
  height: 61.2vmin;
}

.square-field {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.sign-text {
  font-size: var(--xo-font-size);
}
