.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-container {
  border-color: rgb(39, 39, 39);
  border-radius: 10px;
  border-style: solid;
  width: 30rem;
  height: 37.5rem;
  padding: 1rem;
  transition-duration: 0.5s;
  position: relative;
}

.history-container::before {
  position: absolute;
  transform: translateY(-1.75rem);
  background-color: black;
  border-color: rgb(39, 39, 39);
  border-radius: 3px;
  border-style: solid;
  display: block;
  width: 2rem;
  height: 1rem;
  content: '';
  transition-duration: 0.5s;
}

.history-container::after {
  position: absolute;
  transform: translateY(35.5rem) translateX(25rem);
  background-color: black;
  border-color: rgb(39, 39, 39);
  border-radius: 3px;
  border-style: solid;
  display: block;
  width: 2rem;
  height: 1rem;
  content: '';
  transition-duration: 0.5s;
}

.history-container:hover {
  border-color: rgb(250, 18, 18);
  box-shadow: 0px 0px 10px 1px rgb(250, 18, 18);
  cursor: default;
  transition-duration: 0.5s;
}

.history-container:hover::before {
  position: absolute;
  transform: translateY(-1.75rem) translateX(25rem);
  background-color: black;
  border-color: rgb(250, 18, 18);
  box-shadow: 0px 0px 10px 1px rgb(250, 18, 18);
  border-radius: 3px;
  border-style: solid;
  display: block;
  width: 2rem;
  height: 1rem;
  content: '';
  transition-duration: 0.5s;
}
.history-container:hover::after {
  position: absolute;
  transform: translateY(35.5rem) translateX(0rem);
  background-color: black;
  border-color: rgb(250, 18, 18);
  box-shadow: 0px 0px 10px 1px rgb(250, 18, 18);
  border-radius: 3px;
  border-style: solid;
  display: block;
  width: 2rem;
  height: 1rem;
  content: '';
  transition-duration: 0.5s;
}

ol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ol div {
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: rgb(39, 39, 39);
  border-radius: 10px;
  border-style: solid;
  width: 25rem;
  text-align: center;
  transition-duration: 0.5s;
}

ol div::before {
  position: absolute;
  transform: translateY(-1rem);
  background-color: black;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  border-radius: 3px;
  width: 10px;
  height: 5px;
  display: block;
  content: '';
  transition-duration: 0.5s;
}

ol div::after {
  position: absolute;
  transform: translateY(0.2rem) translateX(22rem);
  background-color: black;
  border-style: solid;
  border-color: rgb(39, 39, 39);
  border-radius: 3px;
  width: 10px;
  height: 5px;
  display: block;
  content: '';
  transition-duration: 0.5s;
}

ol div:hover {
  border-color: rgb(35, 94, 255);
  box-shadow: 0px 0px 10px 1px rgba(35, 94, 255, 0.78);
  transition-duration: 0.5s;
  cursor: default;
}

ol div:hover::before {
  position: absolute;
  transform: translateY(-1rem) translateX(22rem);
  background-color: black;
  border-style: solid;
  border-color: rgb(35, 94, 255);
  box-shadow: 0px 0px 10px 1px rgba(35, 94, 255, 0.78);
  width: 10px;
  height: 5px;
  display: block;
  content: '';
  transition-duration: 0.5s;
}

ol div:hover::after {
  position: absolute;
  transform: translateY(0.2rem) translateX(0rem);
  background-color: black;
  border-style: solid;
  border-color: rgb(35, 94, 255);
  box-shadow: 0px 0px 10px 1px rgba(35, 94, 255, 0.78);
  width: 10px;
  height: 5px;
  display: block;
  content: '';
  transition-duration: 0.5s;
}

div li {
  padding-left: 0.5rem;
}

div li button {
  color: #fff;
  font-size: 1.3rem;
  background: transparent;
  border: none;
}
